body{
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

#reg-form{
  background-color: white;
  display: block;
  position: relative;
  padding: 1.5em;
  width: 40%;
  margin: auto;
  vertical-align: middle;
  top:100px;
}

.error-msgs{
  padding:0;
  margin: 0;
}

#registration-form{
  width: 100%;
  margin:auto;
}


.cridentials{
  margin-bottom: 10px;
  width: fill;
}
