body{
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

#reg-form{
  background-color: white;
  display: block;
  position: relative;
  min-width: 400px;
  padding: 1em;
  width: 40%;
  margin: auto;
}

#registration-form{
  width: 100%;
  margin:auto;
  vertical-align: middle;
}

#registration-form td{

}

.cridentials{
  width: 100%;
  margin-bottom: 10px;
}
